.scholarpress-field {
	margin-bottom: 1rem;
}
.scholarpress-field__input + .scholarpress-field__lock {
	margin-top:  .5rem;
}

.coins_single_author {
	padding: .5rem 0;
}
.coins_single_author:first-of-type {
	padding-top: 0;
}
.coins_single_author:not(:last-child) {
	border-bottom: .1rem solid lightgray;
}
.remove_author_button,
.add_author_button {
	margin-top: .25rem;
}